body {
    background-image: url("../img/geometric-background.png");
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}

header {
    text-align: center;
    width: 100%;
    background-color: lightseagreen;
    color: white;
}

a {
	word-break: break-all;
}

nav {
    display: flex;
    justify-content: center;
    margin-top: 3%;
    width: 70%;
    height: 90px;
}

button {
    cursor: pointer;
}

nav #time-buttons {
    display: flex;
    width: 100%;
    
}

nav button {
    width: 33.33%;
    border-radius: 10px 10px 0 0;
    background-color:lightskyblue;
    border: 1px solid blue;
    font-size: 18px;
}

nav button:focus {
    outline: 0;
    box-shadow: 0 0 3pt 2pt blue;
    background-color: beige;
    z-index: 2;
}

nav button:active {
    background-color: green;
}


main {
    width: 70%;
    min-height: 50vh;
    background-color: rgba(255, 255, 255);    
    margin-bottom: 30px;
    border-radius: 0 0 10px 10px;
    box-shadow: 2pt 5pt 10pt 0.1pt black;   
}

p {
    overflow-wrap: break-word;
}

main ul.list-of-tasks {
    list-style-type: none;
    padding: 40px;
}

main ul.links {
    list-style-type: disc;
    margin-left: 40px;
    padding: 0px;
}

main ul.links li {
    margin-bottom: 15px;
    overflow-wrap: break-word;

}

.links-title {
    margin-left: 15px;
}

p.links {
    
}

#add-task-section {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
}


.task-textarea {
    display: block;
    overflow: hidden;
    /* demo only: */
    padding: 10px;
    flex-grow: 1;
    min-height: 1em;
    height: 2em;
    align-self: center;
    flex-basis: 500px;
    margin: 0 30px 0 5px;
    resize: none;
    border-radius:10px;
    border:6px solid #556677;
}

.task-textarea:focus {
    outline: 0;
}

.edit-task-textarea {
    min-height: 100px;
    flex-grow: 1;
}

#add-task-btn {
    font-size: 40px;
}

.round-button {
    display: block;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    border: 0;
}

.number-circle {
    display: inline-block;
    border-radius: 50%;
    padding: 0.7em 1em;
    font-size: 0.7em;
    color: white;
    background: rgba(255, 51, 0, 0.6);
    border: 1px solid rgb(170, 25, 0);
    text-align: center;
}

.round-button:focus {
    outline: 0;
    box-shadow: 0 0 3pt 2pt blue;
}

button:focus {
    
}

.task {
    width: 70%;
    padding: 10px;
}

.task-text {
    text-align: justify;
    text-justify: inter-word;
}

.icons-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    margin-top: 20px;
}

.setting-icon {
    font-size: 35px;
    cursor: pointer;
}

.task-container {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid lightgray;
    min-height: 100px;
}

.task-container:first-of-type {
    border-top: 0;
}

.date {
    align-self: flex-end;
    height: 1em;
}

.icon-trash:hover {
    color: red;
}

.icon-ok-circled:hover {
    color: lime;
}

.icon-pencil-squared:hover {
    color: lightskyblue;
}

.icon-flag:hover {
    color: lightgrey;
}


#loading-mask {
    background-color: white;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}


/* Smartphones (portrait and landscape) and small devices ----------- */
@media only screen and (min-width : 120px) and (max-width :768px) {
    /* Styles */
    nav {
        width: 100%;
    }

    main {
        width: 100%;
    }

    .icons-container {
        flex-direction: column;
        justify-content: flex-start;
    }

    .task {
        width: 90%;
        padding: 10px;
        word-break: break-all;
    }

    .setting-icon {
        font-size: 30px;
        margin-bottom: 10px;
    }

    main ul.list-of-tasks {
        list-style-type: none;
        padding: 10px;
    }


    #add-task-section {
        align-items: center;
        justify-content: center;
        margin-top: 50px;
        margin-left: 5px;
        margin-right: 5px;
        padding: 0px;
   
    }

    .task-textarea {
        margin-right: 5px;
        
    }

    .round-button {
        display: block;
        flex-grow: 1;
        height: 50px;
        border-radius: 10px;
        margin: 0 5px 0 5px;
        border: 0;
    }
}


/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1024px) {
    /* Styles */
    nav {
        width: 100%;
    }

    main {
        width: 100%;
    }
}