
.icon-flag:before { content: '\e800'; } /* '' */
.icon-ok-circled:before { content: '\e802'; } /* '' */
.icon-pencil-squared:before { content: '\f14b'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */